DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_PORT=5432
DATABASE_URL=postgres://postgres:postgres@eggsauce_db:5432/eggsauce

DISCORD_BOT_TOKEN_PROD=your_token_here
DISCORD_BOT_TOKEN_DEV=your_token_here
ENVIROMENT=DEV

LIST_DEVELOPER_IDS= [668666843900149791]
